{% extends 'layout.html' %}

{% block title %}Edit user{% endblock %}
{% block headers %}{% endblock %}

{% block content %}

		<div class="panel panel-default margin-bottom-40">
			<div class="panel-heading">
				<h3 class="panel-title">用户信息</h3>
			</div>
			<div class="panel-body">
				<form action="/user/{{ user.username }}/edit" method="post" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputUsername" class="col-lg-2 control-label">Username</label>
						<div class="col-lg-10">
							<input name="username" type="text" class="form-control" id="inputUsername" placeholder="Username" value="{{ user.username }}">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword0" class="col-lg-2 control-label">Old Password</label>
						<div class="col-lg-10">
							<input name="old-passwd" type="password" class="form-control" id="inputPassword0" placeholder="Password" value="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-10">
							<input name="passwd" type="password" class="form-control" id="inputPassword1" placeholder="Password" value="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword2" class="col-lg-2 control-label">Repeat password</label>
						<div class="col-lg-10">
							<input name="passwd-repeat" type="password" class="form-control" id="inputPassword2" placeholder="Repeat password" value="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputRealname" class="col-lg-2 control-label">Realname</label>
						<div class="col-lg-10">
							<input name="realname" type="text" class="form-control" id="inputRealname" placeholder="Realname" value="{{ user.realname }}">
						</div>
					</div>
					<div class="form-group">
						<label for="inputJobId" class="col-lg-2 control-label">Job ID</label>
						<div class="col-lg-10">
							<input name="job_id" type="text" class="form-control" id="inputJobId" placeholder="Job ID" value="{{ user.job_id }}">
						</div>
					</div>
					<div class="form-group">
						<div class="radio">
							<label class="col-md-offset-2">
								<input name="gender" type="radio" id="inputGender1" value="m" {% if user.gender == 'm' %}checked{% endif %}>
								Male
							</label>
						</div>
						<div class="radio">
							<label class="col-md-offset-2">
								<input name="gender" type="radio" id="inputGender2" value="f" {% if user.gender == 'f' %}checked{% endif %}>
								Female
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="inputAge" class="col-lg-2 control-label">Age</label>
						<div class="col-lg-10">
							<input name="age" type="text" class="form-control" id="inputAge" placeholder="Age" value="{{ user.age }}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-5">
							<button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
						</div>
						<div class="col-lg-5">
							<button type="reset" class="btn btn-lg btn-block">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>
<!--
      <form action="/login" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="username" id="inputUsername"class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="passwd" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
-->
{% endblock %}


